body {
    background-image: url(img/wallpaperflare.com_wallpaper\ \(1\).jpg);
    background-size: cover;
}

@keyframes bordercolor {
    0% {
        border-color: red;
    }

    25% {
        border-color: purple;
    }

    50% {
        border-color: plum;
    }

    75% {
        border-color: purple;
    }

    100% {
        border-color: red;
    }
}

.content-awal {
    border-radius: 30px;
    border: 5px solid;
    width: 40rem;
    margin-top: 7rem;
    margin-left: 7rem;
    background-image: url(img/anime\ backgrounds\ wallpapers\ pc\ dark.jpeg);
    background-size: cover;
    background-position: -121px;
    animation: bordercolor 7s linear infinite;
}

h1 {
    margin-top: 50px;
    text-align: center;
    color: lightblue;
}

.content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

#angka1 {
    margin: 60px;
    height: 30px;
    width: 130px;
}

#angka2 {
    margin: 60px;
    height: 30px;
    width: 130px;
}

input {
    background-color: lightblue;
    border: none;
    border-radius: 20px;
    border: solid;
    animation: bordercolor 7s linear infinite;
}

input:hover {
    transform: scale(1.1);
    background-color: black;
    color: lightblue;

    transition: 1s;
}

.content2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 50px;
    height: 50px;
    margin: 30px;
    background-color: lightblue;
    color: black;
    border-radius: 10px;
    border: none;
    font-size: 30px;
    border: 5px solid;
    animation: bordercolor 7s linear infinite;
}

button:hover {
    transform: rotate(360deg) scale(1.2);
    background-color: black;
    color: lightblue;
    transition: 2s ease-in-out;
}

.content3 {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 10px;
}

#text {
    text-align: center;
    color: lightblue;
    text-shadow: 0 3px 4px purple;
}

#hasil {
    text-align: center;
    color: lightblue;
}

#hasil:hover {
    transform: rotate(360deg) scale(2.2) translate(100px);
    color: aqua;
    transition: 3s;
}